*{
    background-color: gray;
}span{
    padding-left: 35px;
    background-color: white;
}p{
    border: 0.5px solid black;
    background-color: white;
    padding: 20px 20px 30px 20px;
    margin: 20px;
}
.jack{
    margin-top: 150px;
}.static{
    border: 2px solid black;
    background-color: white;
    width: 190px;
    padding: 20px 20px 20px 45px;
    font-style: initial;
    font-weight: bolder;
    margin: 20px;  
    position:static;

}.relative{
    border: 2px solid black;
    background-color: white;
    width: 190px;
    padding: 20px 20px 20px 45px;
    font-style: initial; 
    font-weight: bolder;
    /* margin: 20px;   */
    position:relative;
    left: 0;
     
}.fixed{
    border: 2px solid black;
    background-color:  yellow;
    width: 1550px;
    /* margin: 20px;   */
    /* position:fixed; */
    bottom: 0;
    left: 0;
     text-align: center;
     align-items: bottom;
     justify-content: bottom;
    
}
 .relatives{
    border: 3px solid black;
    color: black;
    font-size: x-large;
    font-style: inherit;
    background-color: white;
    height: 300px;
     
    
 }.absolute{
     width: 140px;
     border: 2px solid;
     padding-top: 20px ;
     padding-left:42px;
     padding-bottom: 20px;
    align-items: center;
    position: absolute;
    top: 48%;left: 35%;
 }.sticky{
    border: 2px solid;
    margin: 2px;
    background-color: white;
    position: sticky;
    top: 2px;
    
 }body{
    padding:30px;
    border:7px solid white ;
    margin: 0;
 }.jagan{
    padding: inherit;
    border: inherit;
    margin: inherit;
   background-image: conic-gradient(red,blue,green);
  
 }.doss{
    padding: inherit;
    border: inherit;
    margin: inherit;
     background-image: radial-gradient( circle, yellow, red, green,yellow);
    
    
 }.varkees{
    padding: inherit;
    border: inherit;
    margin: inherit;
    background-image: linear-gradient(to right, orange, blue, red, green);
    border-radius: 50%; 
  
 }
 
 